<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>머신러닝</h2>
  <p>지도학습(supervised), 자율학습(Un-supervised), 강화학습(reinforcement)</p>
  <table class="table">
    <thead>
      <tr class="danger">
        <th>No. </th>
        <th>예 제</th>
        <th>프로세스</th>
        <th>주요내용</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>1. </td>
        <td><a href="/weather">오늘의 날씨</a> </td>
        <td>Modeling</td>
        <td>기상청 웹크롤링</td>
      </tr>
      <tr class="warning">
        <td>2. </td>
        <td><a href="/3d">3D 로 보여줘</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr >
        <td>3. </td>
        <td><a href="/move/gradient_descent"></a></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="warning">
        <td>4. </td>
        <td><a href="/move/kospi">  </a></td>
        <td></td>
        <td></td>
      </tr>
      <tr >
        <td>5. </td>
        <td><a href="/move/iris">  </a></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="warning">
        <td>6. </td>
        <td><a href="/move/cabbage"></a></td>
        <td></td>
        <td></td>
      </tr>
    <tr>
        <td>7. </td>
        <td><a href="/move/stock_ticker"> </a></td>
        <td></td>
        <td></td>
      </tr>
    <tr class="warning">
        <td>8. </td>
        <td><a href="/move/bitcoin">  </a></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>